html { overflow-x: hidden; }
.clearfix:after
{
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ' ';
}

body{
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
}

.container {
    max-width: 100%;
    position: relative;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
