html { overflow-x: hidden; }
.clearfix:after
{
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ' ';
}

body{
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
}

.footer_header{
    font-family: 'Raleway', sans-serif, bold;
    font-size: 12px;
    text-transform: uppercase;
}



footer{
    background-color: #343434;
    position: relative;
}

.container {
    max-width: 100%;
    position: relative;
}

.footer_top {
    padding-top: 40px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.footer_text {
    margin: 15px 0px;
    color: #717171;
    font-size: 13px;
}

.far,.fas{
    color: #a6b90c;
    text-align: left;
}

.group{
    vertical-align: middle;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.contacts_mobile{
    font-family: 'Raleway', sans-serif, bold;
    margin: 10px;
    font-size: 10px;
    color: #717171;
}

.mobile {
    font-size: 10px;
    color: #959595
}

.footer_menu{
    display: flex;
}

.footer_menu li{
    list-style: none;
    margin-top: 15px;
    margin-right: 50px;
}

.footer_menu ul{
    padding: 0px;
    font-size: 11px;
    color: #717171;
    text-transform: uppercase;
}

.thumbs{
    width: 70px;
    height: 70px;
    background: #cfcfcf;
    border-radius: 6px;
    display: inline-block;
}

.posts{
    display: inline-flex;
    margin-top:11px;
}

/*.thumbs{
    height: 0;
    display: block;
    position: relative;
}

.thumbs img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
}
*/

.footer_header_h3, .footer_header_h4{
    text-transform: uppercase;
    font-size: 11px;
    color: #717171;
    margin-left: 10px;
    margin-bottom: 0px;
}

.footer_header_h4{
    font-family: 'Raleway', sans-serif, bold;
    color: #ffffff;
    margin-top: 0px;
}

.footer_button {
    font-family: 'Raleway', sans-serif, bold;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none; 
    user-select: none; 
    background: #424242; 
    border-radius: 25px; 
    padding: .7em 1.5em; 
    outline: none; 
    padding: 6px 5px;
    width: 33.3%
}
.footer_tags{
    margin-top: 11px;
}

.footer_tags a{
    color: #717171;
    text-decoration: none;
    margin: 0px 5px; 
}

.footer_button:hover { 
    background: #b8cd06; 
    color: #ffffff;
} 
.footer_button:active { 
    background: #b8cd06; 
    color: #ffffff;
}

.btn-group{
    margin: 10px;
}

.separator{
    margin-top: 40px;
    height: 2px;
    background-color: #3d3d3d;
}

.footer_bottom{
    height:90px;
}

.copyright, .developers{
    color: #5d5d5d;
    font-size:13px;
    line-height: 90px;
}

.developers{
    color:#9eae0f;
}

.social{
    display: flex;
    margin-top: 30px;
}

.social_icon a{
    text-align: center;
    width: 30px;
    height:30px;
    display: inline-block;
    background: #424242;
    border: 1px solid #424242;
    border-radius: 30px;
    margin: 0 10px 10px 0;
    padding: 5px;
    color: #989898;
}

.social_icon a:hover{
    color: #ffffff;
    background: #b8cd06;
}

.payment_icon{
    display: block;
    margin: 30px 0px;
}

.payment_item{
    display: inline-block;
    width: 36px;
    height: 24px;
    margin-right: 10px;
    background-image: url(../image/payments.png);
    text-decoration: none;
}

.bitcoin{
    background-position: -50px;
}

.amerexp{
    background-position: -100px;
}

.paypal{
    background-position: -150px;
}

.master{
    background-position: -200px;
}

.visa{
    background-position: 35px;
}

